/* CSS declarations go here */
body,html{
  margin : 0px;
  padding : 0px;
  position : absolute;
  width : 100%;
  height : 100%;
}
.container{
  margin : 10px;
  display : block;
  background-color: #F1EDE6;
}
.createBtn{
  display : inline-block;;
  width : 35px;
  height : 35px;
}
.unit {
    width : 35px;
    height : 35px;
    display : inline-block;
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    border : 0px;
}
.unit_spawn {
  background-color: cyan;
}
.unit_larva {
  background-color: pink;
}
.unit_drone {
  background-color: green;
}
.unit_warrior {
  background-color: red;
}
#unitlist{
  font-size: 0px;
}
.structure_icon{
  width : 75px;
  height : 75px;
  background-color: gray;
  text-align: center;
  display : table-cell;
  vertical-align: middle;
}
.upgrade_icon{
  width : 35px;
  height : 35px;
  background-color: purple;
  overflow: hidden;
}

.notenough{
  opacity: 0.4 !important;
}
.notenoughresource{
  color : red;
  display : inline-block;
}
.enoughresource{
  color : inherit;
  display : inline-block;
}
