#bottom-panel{
  width : 100%;
  height : 150px;
  position : absolute;
  background-color: green;
  bottom : 0px;
  margin: 0px;
  background-image: url("");
  background-repeat: no-repeat;
  background-size:cover;;
}
